In [2]:

import pandas as pd
from backtest import mtsim
from backtest import dtrader

In [3]:
data = pd.read_pickle("SIGNALS/V-100-signals-11.pkl")
data

,time,open,high,low,close,tick_volume,spread,real_volume,EMA_5,Delta-5,...,13/50-cross,5/13-cross,rsi,signal_line,signal_cross,base_line,upper_tdi,lower_tdi,SIGNALS,dtrade
0,2024-02-11 00:00:00,1749.12,1751.06,1748.31,1749.83,30,42,0,1749.054388,387806,...,0,0,46.784346,44.847879,1,52.153098,60.900841,43.636892,-,-
1,2024-02-11 00:01:00,1750.27,1752.41,1749.49,1751.22,30,42,0,1749.776259,721871,...,0,0,48.967804,44.946486,0,52.174550,60.854628,43.858883,-,-
2,2024-02-11 00:02:00,1751.32,1753.53,1749.77,1753.53,29,42,0,1751.027506,1251247,...,0,0,52.377417,45.968233,0,52.357346,60.887072,44.102045,-,-
3,2024-02-11 00:03:00,1753.14,1756.16,1752.23,1756.05,30,42,0,1752.701671,1674165,...,0,1,55.762934,47.243107,0,52.587941,61.025357,44.142581,-,-
4,2024-02-11 00:04:00,1755.83,1756.88,1754.88,1755.97,30,42,0,1753.791114,1089443,...,1,0,55.631106,48.497634,0,52.671030,61.153207,44.185797,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1316,2024-02-11 21:56:00,1817.65,1819.74,1816.63,1818.53,30,42,0,1817.961725,284138,...,0,0,48.869397,47.603973,1,49.249228,56.674945,41.820591,-,-
1317,2024-02-11 21:57:00,1818.04,1819.97,1816.13,1819.07,30,42,0,1818.331150,369425,...,0,0,49.514964,47.615730,0,49.255402,56.720354,41.913534,-,-
1318,2024-02-11 21:58:00,1819.56,1822.62,1818.71,1820.97,30,42,0,1819.210766,879617,...,0,1,51.764912,48.426125,0,49.386886,56.858868,42.104870,-,-
1319,2024-02-11 21:59:00,1820.43,1821.39,1819.69,1821.32,30,42,0,1819.913844,703078,...,0,0,52.177151,48.855013,0,49.558877,57.007377,42.324687,-,-
1320,2024-02-11 22:00:00,1821.00,1821.00,1818.20,1819.61,29,42,0,1819.812563,-101281,...,0,0,49.985616,49.425291,0,49.675163,56.994218,42.702998,-,-

In [4]:
 #This function suppress warning messages about pandas using copy-view
pd.options.mode.chained_assignment = None

In [5]:
capital = 10

In [6]:
#trades = mtsim.simulate(dataframe = data, symbol = "EURUSD", lot_size = 0.1, balance = capital)

In [7]:
#signals = trades[trades["SIGNALS"]!= "-"]
#signals

In [8]:
#pd.to_pickle(signals, "TRADES/EURUSD-february.pkl")

In [9]:
risk_param = {
    "1400": 100,
    "700": 50,
    "140": 20,
    "90": 10,
    "45": 5,
    "5": 1.5,
    "<5": 1
}

In [23]:
trades = dtrader.simulate(data = data, factor = risk_param, offset = 3, balance = capital, custom_risk= 2)
trades

                     index dtrade Report  Profit-Loss
time
2024-02-11 00:14:00     14   Rise   Loss          8.0
2024-02-11 00:58:00     58   Rise   Loss          6.0
2024-02-11 01:57:00    117   Rise   Loss          4.0
2024-02-11 03:56:00    236   Rise    Win          5.9
2024-02-11 08:28:00    508   Rise    Win          7.8
2024-02-11 09:52:00    592   Rise    Win          9.7
2024-02-11 11:11:00    671   Rise    Win         11.6
2024-02-11 12:08:00    728   Rise    Win         13.5
2024-02-11 15:09:00    909   Rise    Win         15.4
2024-02-11 17:35:00   1055   Rise    Win         17.3
2024-02-11 20:42:00   1242   Rise    Win         19.2