In [7]:
import pandas as pd
import tradebot
import json

In [8]:
tradebot.start_mt5("deriv-drv")

True

In [9]:
symbol = "Volatility 100 Index"
tradebot.initialize_symbol(symbol)

True

In [10]:
candles = tradebot.get_candlesticks_range(symbol = symbol, timeframe = "M1", startdate ="2024-02-15", enddate = "2024-02-17")
#candles = tradebot.get_candlesticks(symbol = symbol, timeframe = "H1", offset = 1, limit = 5000)
candles

,time,open,high,low,close,tick_volume,spread,real_volume
0,2024-02-14 22:00:00,2003.16,2005.41,2002.23,2004.43,29,45,0
1,2024-02-14 22:01:00,2004.86,2007.64,2004.00,2005.64,30,45,0
2,2024-02-14 22:02:00,2004.90,2007.51,2003.10,2006.16,30,45,0
3,2024-02-14 22:03:00,2006.12,2008.38,2005.74,2008.38,29,45,0
4,2024-02-14 22:04:00,2007.58,2008.24,2005.73,2006.27,29,45,0
...,...,...,...,...,...,...,...,...
2876,2024-02-16 21:56:00,1947.45,1948.22,1946.15,1946.63,30,53,0
2877,2024-02-16 21:57:00,1946.69,1948.01,1945.27,1946.42,30,53,0
2878,2024-02-16 21:58:00,1946.49,1946.50,1942.46,1944.83,29,53,0
2879,2024-02-16 21:59:00,1944.14,1946.53,1942.75,1946.23,30,53,0
2880,2024-02-16 22:00:00,1945.76,1945.76,1943.01,1945.44,29,53,0

In [11]:
#pd.to_pickle(candles, "EURCHF/EURCHF-M15-save-12-december.pkl")
#pd.to_pickle(candles, "V-100/Volatility-100-Index-H1-save-01.pkl")
pd.to_pickle(candles, "V-100/Volatility-100-Index-M1-save-2024-02-16.pkl")