In [1]:
import pandas as pd
from indicators import adr

In [2]:
#This function suppress warning messages about pandas using copy-view
pd.options.mode.chained_assignment = None

In [3]:
d1_candles = pd.read_pickle("USDCAD/USDCAD-D1-save-01.pkl")
h4_candles = pd.read_pickle("USDCAD/USDCAD-H4-save-01.pkl")
h1_candles = pd.read_pickle("USDCAD/USDCAD-H1-save-01.pkl")
h1_candles.drop(columns = ["tick_volume", "spread", "real_volume"], inplace = True)
m15_candles = pd.read_pickle("USDCAD/USDCAD-M15-save-06-june.pkl")

In [4]:
h1_candles.set_index("time", inplace = True)
h1_candles = h1_candles.loc["2023-01-02 09:00:00":]
h1_candles.reset_index(inplace = True)
h1_candles

                    time     open     high      low    close
0    2023-01-02 09:00:00  1.35432  1.35559  1.35431  1.35463
1    2023-01-02 10:00:00  1.35380  1.35473  1.35318  1.35415
2    2023-01-02 11:00:00  1.35383  1.35565  1.35291  1.35535
3    2023-01-02 12:00:00  1.35535  1.35552  1.35521  1.35538
4    2023-01-02 13:00:00  1.35539  1.35660  1.35538  1.35640
...                  ...      ...      ...      ...      ...
6106 2023-12-22 19:00:00  1.32593  1.32634  1.32522  1.32594
6107 2023-12-22 20:00:00  1.32596  1.32665  1.32591  1.32648
6108 2023-12-22 21:00:00  1.32647  1.32840  1.32584  1.32586
6109 2023-12-22 22:00:00  1.32586  1.32667  1.32549  1.32573
6110 2023-12-22 23:00:00  1.32574  1.32668  1.32562  1.32599

[6111 rows x 5 columns]

In [5]:
gloat = int(98.756)
gloat

98

In [6]:
symbol = "USDCAD"
pd.set_option("display.max_rows", 250)

In [7]:
data = adr.get_values(daily_data = d1_candles, current_data = h1_candles, symbol = symbol, period = 10)
data.set_index("time", inplace = True)
data

                        open     high      low    close  ADR
time
2023-01-02 09:00:00  1.35432  1.35559  1.35431  1.35463   97
2023-01-02 10:00:00  1.35380  1.35473  1.35318  1.35415   97
2023-01-02 11:00:00  1.35383  1.35565  1.35291  1.35535   97
2023-01-02 12:00:00  1.35535  1.35552  1.35521  1.35538   97
2023-01-02 13:00:00  1.35539  1.35660  1.35538  1.35640   97
...                      ...      ...      ...      ...  ...
2023-12-22 19:00:00  1.32593  1.32634  1.32522  1.32594   71
2023-12-22 20:00:00  1.32596  1.32665  1.32591  1.32648   71
2023-12-22 21:00:00  1.32647  1.32840  1.32584  1.32586   71
2023-12-22 22:00:00  1.32586  1.32667  1.32549  1.32573   71
2023-12-22 23:00:00  1.32574  1.32668  1.32562  1.32599   71

[6111 rows x 5 columns]

In [8]:
data.loc["2023-06-06 17:00:00"]

open      1.34411
high      1.34428
low       1.34089
close     1.34101
ADR      68.00000
Name: 2023-06-06 17:00:00, dtype: float64